<main class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive">
    <div class="tui-col_xs-12 tui-col_s-8">
      <messenger-card>
        <nav mat-tab-nav-bar>
          <ng-container *ngFor="let link of links">
            <a mat-tab-link
               [routerLink]="link.link"
               [active]="(activeLink | async) === link.link"> {{link.label}} </a>
          </ng-container>
        </nav>

        <router-outlet></router-outlet>

      </messenger-card>
    </div>
  </div>
</main>
