version: "3"

volumes:
  node_chat_db:
    name: node_chat_db
  node_chat_redis:
    name: node_chat_redis
  chat_pgadming:
    name: chat_pg_admin

services:
  app:
    container_name: node_chat
    restart: always
    build: .
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    links:
      - postgres
      - redis

  postgres:
    container_name: postgres-node-chat
    image: postgres
    volumes:
      - node_chat_db:/data/db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DATABASE}

  pgadmin:
    container_name: pgadmin-chat-db
    image: dpage/pgadmin4:latest
    volumes:
      - chat_pgadming:/data/admin
    ports:
      - "80:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
      PGADMIN_CONFIG_CONSOLE_LOG_LEVEL: ${PGADMIN_CONFIG_CONSOLE_LOG_LEVEL}


  redis:
    container_name: node_chat_redis
    image: redis:6.0
    volumes:
      - node_chat_redis:/data/redis
    ports:
      - "6379:6379"

