version: "3"

volumes:
  node_chat_db:
    name: node_chat_db

services:
  app:
    container_name: node_chat
    restart: always
    build: .
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:3000"
    links:
      - postgres

  postgres:
    container_name: postgres-node-chat
    image: postgres
    volumes:
      - node_chat_db:/data/db
    ports:
      - "5432:5432"
    expose:
      - "5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat_db
