<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <tui-input formControlName="email"
             tuiTextfieldExampleText="mail@mail.ru"
             tuiHintContent="It will be used for sending documents">
    Email
  </tui-input>
  <tui-field-error formControlName="email"></tui-field-error>
  <p>
    <tui-input-password formControlName="password">
      Password
    </tui-input-password>
  </p>
  <a tuiLink routerLink="../forget-password">Forget password</a>
  <p>
    <tui-checkbox-labeled formControlName="rememberMe" size="l">
      Remember me
    </tui-checkbox-labeled>
  </p>
  <mat-spinner *ngIf="isLoading | async"></mat-spinner>
  <button tuiButton *ngIf="!(isLoading | async)" type="submit" appearance="flat">
    Sign in
  </button>
</form>
