<ng-container *ngIf="!(resetPasswordEmail | async)">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="email" formControlName="email">
      <mat-hint>Enter your email</mat-hint>
    </mat-form-field>
    <button type="submit" mat-button>Reset password</button>
  </form>
</ng-container>

<ng-container *ngIf="resetPasswordEmail | async as email">
  <div class="alert">
    An email with instructions to reset the password has been sent to the {{ email }}
  </div>
</ng-container>
