<main class="tui-container tui-container_adaptive">
  <div class="tui-row tui-row_adaptive">
    <div
      class="tui-col_xs-12 tui-col_s-10tui-col-offset_s-1 tui-col_sm-8 tui-col-offset_sm-2 tui-col_md-6 tui-col-offset_md-3 tui-col_lg-6 tui-col-offset_lg-3">
      <messenger-card>

        <messenger-card-title>
          <messenger-card-title-text>Reset password</messenger-card-title-text>
        </messenger-card-title>

        <messenger-card-content>
          <ng-container *ngIf="!(token | async)">
            <h1>Link is not correct</h1>
          </ng-container>

          <ng-container *ngIf="(token | async)">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <div class="tui-space_bottom-5">
                <tui-input formControlName="newPassword">New Password</tui-input>
                <tui-field-error formControlName="newPassword"></tui-field-error>
              </div>
              <div class="tui-space_bottom-5">
                <tui-input formControlName="repeatNewPassword">Confirm new password</tui-input>
                <tui-field-error formControlName="repeatNewPassword"></tui-field-error>
              </div>
              <button tuiButton type="submit">Reset password</button>
            </form>
          </ng-container>
        </messenger-card-content>

      </messenger-card>
    </div>
  </div>
</main>
