<mat-card>

  <mat-card-title>
    Reset password
  </mat-card-title>

  <ng-container *ngIf="!(token | async)">
    <h1>Link is not correct</h1>
  </ng-container>

  <ng-container *ngIf="(token | async)">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>New Password</mat-label>
        <input type="password" matInput placeholder="new password" formControlName="newPassword">
        <mat-hint>Enter new password</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Confirm password</mat-label>
        <input type="password" matInput placeholder="confirm new password" formControlName="repeatNewPassword">
        <mat-hint>Confirm new password</mat-hint>
      </mat-form-field>
      <button type="submit" mat-button>Reset password</button>
    </form>
  </ng-container>

</mat-card>
