<messenger-card>

  <messenger-card-title>
    <messenger-card-title-text>Reset password</messenger-card-title-text>
  </messenger-card-title>

  <messenger-card-content>
    <ng-container *ngIf="!(token | async)">
      <h1>Link is not correct</h1>
    </ng-container>

    <ng-container *ngIf="(token | async)">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="tui-space_bottom-5">
          <tui-input formControlName="newPassword">New Password</tui-input>
          <tui-field-error formControlName="newPassword"></tui-field-error>
        </div>
        <div class="tui-space_bottom-5">
          <tui-input formControlName="repeatNewPassword">Confirm new password</tui-input>
          <tui-field-error formControlName="repeatNewPassword"></tui-field-error>
        </div>
        <button tuiButton type="submit">Reset password</button>
      </form>
    </ng-container>
  </messenger-card-content>

</messenger-card>
